.fruit-container {
    /* width: 150px; */
    height: 250px; 
    width: 200px;
    background-color: grey;
  }
  
  .fruit-name {
    text-align: center;
    padding: 30px;
    color: #fff;
  }
  
  .fruit-count {
    text-align: center;
    padding: 30px;
    color: #fff;
  }
  
  .button-container {
    padding: 30px 0 50px;
    display: flex;
    justify-content: center;
  }